## Why are you here?

Full Sail requires you to take this class.  Why do you think a class called Data Visualization and Modeling is important?  How is it relevant to your career path?

there is a lot of data and its important to be able to communicate that to someone who doesnt understand.

## Why do we visualize data and what is a model?

 its easier to understand than a spreadsheet.

## What do you hope to learn?

Is there anything specific about data science, data visualization or Python that you hope to learn from this class?

for me, id like to understand how to look for what is important to translate to a consumer vs a buisiness

## What is this thing?
You might be wondering why we're using a web page instead of a PowerPoint.  What you're actually looking at is an interactive Python interpeter running behind a web page.  This allows us to execute code right in the browser.  I know we haven't explored Python yet, but change the value of x in the box below. When you are ready to see the results, press control + enter (or use the buttons/menu above), and the results of your change should appear below.  Whenever you see a box with code in it I advise you to play around with it and see what it does.  One notebook trick is that the last statement in a code block will print automatically when you run it.

Some students also find it useful to takes notes in the notebook.  To edit a cell, simply double click any text and add your notes.  Run the cell as described above to finish it.  You can also add more cells using the toolbar or menu.  Here are some common formatting options for markdown text.

**bold text**

*italics*

> "this guy said something"

* bulleted
* list


1. number
2. list

```
# this is code
x = 8
```

***
# Biggest heading
## Medium heading
### Smallest heading

## Python

By now you should already have experience with a few different programming languages, so why are we going to use yet another language?  The answer is that different languages solve different problems
  * c/c++ is fast, but is slow to compile, memory handling is difficult, and has cryptic symbols and keywords
  * C# has a great GUI builder, handles memory, bigger library, but isn't as fast as c++ and doesn't improve productivity (much)
  * Java is "multiplatform" and handles memory, but isn't as fast as c++ and doesn't improve productivity (much)

Python takes a different approach and focuses on something other languages don't improve on, programmer productivity
  * Python is built to make it easier for you to get stuff done
  * Python is interpreted (compiled to byte code (not machine code), when importing)
  * However it slower to execute than other languages and uses more memory when executing

## The history of Python

Origins:

* 1980s: Guido van Rossum began working on Python in the late 1980s, at the Centrum Wiskunde & Informatica (CWI) in the Netherlands.
* 1991: The first official version, Python 0.9.0, was released in February 1991. This version already included many features familiar to today's Python programmers, including exception handling, functions, and modules.

Naming: 

* The name "Python" was not derived from the snake, but rather as a tribute to the British comedy group "Monty Python," whose work Guido van Rossum enjoyed.

Evolution:

* 1994: Python 1.0 was officially released, marking a significant milestone for the language. It included important features like lambda, map, filter, and reduce.
* 2000: Python 2.0 was released, introducing list comprehensions and garbage collection. One of the most significant additions in the Python 2 series was the introduction of the "new-style classes" in Python 2.2.
* 2008: Python 3.0 (often called "Python 3000" or "Py3k") was released. It was designed to rectify fundamental flaws of the language. This version was not backward compatible with Python 2, which was a significant and somewhat controversial decision. Key changes included the print statement becoming a function (print()), integer division producing a float instead of an integer, and the introduction of the bytes type for handling binary data.

Legacy of Python 2:

* Even after the release of Python 3, Python 2 continued to be widely used. However, to move the community forward, the PSF announced that support for Python 2.7 (the last release in the 2.x series) would end in 2020.
* After January 1, 2020, Python 2 received no updates, even for security issues.

**One of the major benefits of Python is that a task will take less time to do.**  Basically anything a programmer needs should already be provided as a built in function or will be easy to get, this way you can focus on the problem solving and ignore the nuts and bolts.  Before you start working on an algorithm, check to see if the solution is already available somewhere else.

In [11]:
# Use a # for comments

"""
Also works as well to create a docstring for longer comments
"""

#Instead of having to write your own function to calculate the max of a set of numbers, Python has its own built-in max function

# std:list<int> nums {1, 2, 3, 4, 5, 6, 7, 8, 9, 10};
# int biggest = 0;
# for (&x : nums)
# {
#     if (x > biggest)
#     {
#          biggest = x;
#     }
# }
# cout << biggest;

'\nAlso works as well to create a docstring for longer comments\n'

# Pandas
You can use Python to write programs that solve the same problems you've encountered in other classes.  In this class, we're going to focus on a few different data-science specific features of Python beginning with the Pandas library.  

Pandas is not part of the base Python library, so we have to import it if we want to use the methods in the Pandas library.  The convention is to import Pandas as pd.

In [12]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\malicious\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\malicious\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\malicious\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\malicious\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\malicious\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\malicious\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

## Pandas DataFrames and Series

The DataFrame is the primary structure we will be using for this class, it is an associative, two dimensional data structure. Imagine a spreadsheet page,  SQL table, or flat file.  The series object is a one dimensional datastructure that represents a single column of data.

## Loading Data
To load a file into a DataFrame we call the appropriate read function.  In this case we are going to read data from a CSV file.  You can also read data from a text file, Excel, etc.  This data file contains information about data science salaries.

By convention, DataFrames are often named `df`.  You can view the top 5 records of a DataFrame using the `.head()` method.

In [13]:
salary_df = pd.read_csv('assets\ds_salaries.csv')

salary_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\MALICIOUS\AppData\Local\Temp\ipykernel_4984\3432209798.py:1: SyntaxWarning: invalid escape sequence '\d'
  salary_df = pd.read_csv('assets\ds_salaries.csv')

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [14]:
salary_df = pd.read_csv('assets\ds_salaries.csv')

salary_df.tail()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\MALICIOUS\AppData\Local\Temp\ipykernel_4984\3882542718.py:1: SyntaxWarning: invalid escape sequence '\d'
  salary_df = pd.read_csv('assets\ds_salaries.csv')

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

# Reading data from different sources

## From a URL

In [ ]:
import pandas as pd
link = 'https://users.stat.ufl.edu/~winner/data/lister.dat'

column_names = ['ID', 'Year', 'Anieseptic (1=Post-Discovery,0=Pre-discovery)', 'Limb  (1=Lower, 2=Upper)', 'outcome (1=Recovery,0=Death)']


url_df = pd.read_csv(link, names=column_names, sep=r'\s+') #USE CHAT GPTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
url_df.head()

,ID,Year,"Anieseptic (1=Post-Discovery,0=Pre-discovery)","Limb (1=Lower, 2=Upper)","outcome (1=Recovery,0=Death)"
0,1,1864,0,1,0
1,2,1864,0,1,1
2,3,1864,0,1,0
3,4,1864,0,1,0
4,5,1864,0,1,1

## From a JSON File

## Data Dictionary

Sometimes data is represented using special codes and that we need an accompanying data dictionary to interpret.

Below is the data dictionary for the data science salary dataset: 

**work_year:** The year the salary was paid.

**experience_level:** The experience level in the job during the year.

EN > Entry-level / Junior

MI> Mid-level / Intermediate

SE > Senior-level / Expert

EX > Executive-level / Director

**employment_type:** The type of employment for the role.

PT > Part-time

FT > Full-time

CT > Contract

FL > Freelance

**job_title:** The role worked in during the year.

**salary:** The total gross salary amount paid.

**salary_currency:** The currency of the salary paid as an ISO 4217 currency code.

**salaryinusd:** The salary in USD.

**employee_residence:** Employee's primary country of residence during the work year as an ISO 3166 country code.

**remote_ratio:** The overall amount of work done remotely.

**company_location:** The country of the employer's main office or contracting branch.

**company_size:** The average number of people that worked for the company during the year: S less than 50 employees (small) M 50 to 250 employees (medium) L more than 250 employees (large)

**Can you determine what type of data each feature is in the DS salary dataset?**

## Data
Since we will be dealing with large amounts of *heterogenous data*, we will need to expand our vocabulary in order to make sure we communicate effectively. We can define heterogenous data as any data with high variability of types and formats, possibly with sparse / missing values, or even invalid data.

**We care about the type of data we are working with because it will drive the decisions we make about what type of visualization to create or what type of model(s) to use.**

## Data Types
* **Quantitative data** deals with quantities, something that can be measured:  height, weight, average time to play through a game, MPG
    * Discrete data is when only specified values exist (shoe size)
    * Continuous data is any value in a given range (foot length)
* **Categorical data** deals with categories, something that cannot be measured:  eye color, game publisher, month a holiday occurs, a subjective rating.  Sometimes a categorical feature will be represented by a number (ZIP code, player jersey number) or represented using numbers (ie using a *dummy code*: 0 = ACTION, 1 = ADVENTURE, 2 = RPG, etc)
    * Nominal data is categorical data with no numerical or ordered relationship (high school mascot)
    * Ordinal data is categorical data that has a specific ordering (freshman, sophmore, etc.)
* Time data is unique in that it often blends elements of both quantitative and categorical

## Visualizations for quantitative features

The two most common visualizations for quantitative features are the histogram and the box plot.

In [18]:
salary_df.head()

salary_df['salary_in_usd'].plot(kind='hist')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

## Describing data

### The distribution
**The distribution of a feature tells you the possible values of that feature and how frequently they occur.**

#### Statistics
We can also use summary statistics to help describe quantitative data. 

Central Tendancy - Where is the middle?
* Mean = average
* Median = middle value
* Mode = most common value (tallest bar in a histogram)

Spread - how much does data vary?

There are methods in Pandas that allow us to calculate these quantities.

**What was a "typical" salary for a data science professional in USD around 2023?  What was the salary range?**

## Visualizations for categorical features

There are two common visualizations for categorical features: one where we want to compare totals for multiple groups and one where we want to visualize parts of a whole.

**What is the most common remote work arrangement?**

It's best to get in the habit of giving your plots descriptive titles and labels.  Let's make some quick improvements to our previous plots.  

You don't have to memorize every feature and option for plotting.  You can always look them up later if you forget.

## Six Principles of Good Design

1. Clarity:
* Avoid unnecessary clutter: Every element should have a purpose. Remove redundant or unnecessary information.
* Choose the right visualization type: The type of visualization should align with what you're trying to convey. For instance, use bar charts for categorical data, line charts for time series, scatter plots for relationships, etc.

2. Consistency:
* Keep scales consistent: When comparing multiple plots, keep the scales consistent to avoid misinterpretation.
* Use consistent colors and styles: If blue represents a particular category in one plot, it should represent the same in other plots.

3. Simplicity:
* Avoid too many colors: Using too many colors can be confusing. Stick to a small, consistent palette.
* Limit the use of pie charts: Pie charts can be hard to interpret, especially with many slices. Consider bar charts or stacked bar charts as alternatives.

4. Accessibility:
* Color contrast: Ensure there's enough contrast between text and background and between different data elements. This is especially crucial for viewers with color vision deficiencies.
* Avoid relying solely on color: For those with colorblindness, using patterns, annotations, or different line styles can help distinguish data.
* Use larger text sizes: This ensures readability, especially for those with vision impairments.
* Provide text descriptions: For complex visualizations or when publishing on the web, provide textual descriptions or summaries.
* [Learn more about creating accessible visualiations](https://it.wisc.edu/learn/make-it-accessible/accessible-data-visualizations/)

5. Labeling & Annotation:
* Descriptive titles: The title should summarize what the graph shows.
* Label axes: Always label your axes, and if needed, provide units.
* Annotations: Use them to highlight or explain specific points on your graph.

6. Integrity:

* Avoid misleading scales: For instance, bar charts should start at zero to avoid exaggerating differences.
* Be transparent: Clearly state the sources of your data and any manipulations or transformations you've done.

## Bad Design in the Wild

What principle(s) of good design are being violated by the folloiwng visualizations?

https://medium.com/@Ana_kin/graphs-gone-wrong-misleading-data-visualizations-d4805d1c4700

## Ok
In this class we are going to be analyzing and working with large data sets and making choices on how best to display information in order to extract value from it.  We will need to:

* Understand the context - why does our audience care about this data?
* Choose an appropriate visual for the type of data
* Eliminate anything not neccessary
* Focus users attention where we want it to be

To achieve this we are going to be using an industry standard toolset, Python Anaconda.

Be sure to read the day's notebook before coming to class.  The work in this class is cumulative, it is probably a good idea to also re-read notebooks from previous days to try and pick up anything you might have missed.